$gray-light: #f8f8fa; // #fafbfc;
$gray-light-2: #dfdfdf;
$gray-medium: #757575;
$gray-medium-2: #404040;
$gray-border: #eeefff;
$gray-header: #555555;

$blue: #339bfb;
$blue-medium: #2059ad;
$blue-green: #00a5eb;

$green: #16b355;

$red: #d13737;
