.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &-masthead {

  }

  &-logotype {
    margin-top: 70px;

    svg {
      width: 500px;
      fill: #d7d7dd;
      z-index: -10;
    }
  }

  &-logo {
    margin-top: 10px;
    margin-bottom: 70px;
    max-width: 10%;
    height: auto;
  }

  &-blurb {
    margin-top: -10px;
    margin-bottom: 50px;
    position: relative;
    left: 0px;
    padding: 5px;
    max-width: 520px;
    text-align: left;
    line-height: 1;
    font-weight: 600;
    font-size: 33px;
    color: #373737;
    background-color: rgba(white, 0.55);
  }

  &-description {
    width: 90%;
    margin: 0 auto;

    a {
      font-weight: 600;
      text-decoration: none;
      color: darken(#11395e, 9%);
    }
  }

  &-content {
    padding: 40px 27%;
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: white;
    width: 100%;
    font-size: 20px;
    line-height: 1.4;
    color: #252525;
    border-top: 1px solid $gray-border;
  }

  &-links {
    margin: 20px;
    margin-top: 40px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;

    svg {
      width: 60px;
      margin: 10px;
      transition: 250ms ease-in;
      fill: #11395e;

      &:hover {
        transform: scale(1.1);
        fill: darken(#11395e, 9%);
      }
    }
  }
}
