.photo-feed {
}

.photo-feed-item-container {
  margin-top: 10px;
  padding: 1px;
}

.photo-feed-item {
  margin: 10px auto;
  min-width: 720px;
  max-width: 900px;
  width: 100%;
  background-color: white;
  border-radius: 3px;
  border: 1px solid $gray-border;
  list-style: none;
}

.photo-feed-item-header {
  display: flex;

  &-author-avatar {
    margin: 15px;
    margin-bottom: 13px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid $gray-light-2;
    }
  }

  &-author-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14.5px;

    &-username {
      font-weight: 700;

      a {
        text-decoration: none;
        color: darken($gray-medium, 20%);
      }

      a:hover {
        color: darken($gray-medium, 10%);
      }
    }

    &-time {
      font-size: 12px;
      color: #999;
    }
  }
}

.photo-feed-item-image {
  text-align: center;
  cursor: zoom-in;

  a {
    display: block;
    cursor: zoom-in;

    &:focus {
      outline: 0;
    }
  }

  img {
    max-width: 100%;
    max-height: 720px;
    object-fit: cover;
    overflow: hidden;
  }
}

.photo-feed-item-info {
  margin: 15px;
  color: darken($gray-medium, 15%);

  h2 {
    margin-bottom: 12px;
    font-size: 17px;
  }

  h3 {
    font-size: 14.5px;
  }
}

.photo-feed-spinner {
  margin: 0 auto;
  padding: 60px 0 50px 0;
  display: flex;
  justify-content: center;
  width: 300px;
  border-radius: 3px;
}

@media screen and (max-width: 1280px) {
  .photo-feed-item {
    max-width: 720px;
    min-width: 720px;
  }
}

.photo-show-modal {
  position: absolute;
  top: 80px;
  left: 80px;
  bottom: 80px;
  right: 80px;
  display: flex;
  background-color: white;
  border-radius: 3px;
  border: none;
  &:focus { outline: none; }
}

.photo-show-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(black, 0.5);
}

.photo-show {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;
  border-radius: 3px;

  &-smaller {
    height: calc(100% - 50px);
  }

  &-content {
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: lighten($gray-light-2, 6%);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-right: 1px solid #e7e7e7;
    overflow: hidden;
    width: 100%;
    height: 100%;

    img {
      display: inline;
      position: relative;
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }

  &-content-hover:hover {
    cursor: zoom-out;
  }

  &-sidebar {
    min-width: 310px;
    background-color: white;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    &-author {
      padding: 14px;
      display: flex;
      border-bottom: 1px solid #e7e7e7;

      &-avatar {
        img {
          margin: 10px;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          transition: 150ms ease-in;

          &:hover {
            opacity: 0.6;
          }
        }
      }

      &-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 15px;

        &-username {
          font-size: 18px;
          margin-bottom: 5px;

          a {
            text-decoration: none;
            color: darken($gray-medium, 25%);
            transition: 100ms ease-in;
          }

          a:hover {
            color: $blue;
          }
        }

        &-button {
          font-size: 13px;
          margin-bottom: 10px;
        }
      }
    }

    &-title {
      padding: 20px;
      border-bottom: 1px solid #e7e7e7;
      font-size: 17px;
      color: darken($gray-medium, 5%);
      border-top: none;
      border-right: none;
    }

    &-description, &-time {
      padding: 20px;
      border-bottom: 1px solid #e7e7e7;
      font-size: 14px;
      color: darken($gray-medium, 5%);
      border-top: none;
      border-right: none;
    }

    &-time {
      padding: 10px 20px;
      display: block;
      font-size: 12px;
      background-color: #f4f4f4;
      color: #969595;
    }
  }
}

.photo-gallery-items {
  display: flex;
  flex-wrap: wrap;

  a:hover {
    cursor: zoom-in;
  }

  &:after {
    content: '';
    flex-grow: 1e4;
    min-width: 20%;
  }

  section {
    margin: 5px;
    position: relative;
  }

  i {
    display: block;
  }

  img {
    position: absolute;
    top: 0;
    width: 100%;
    vertical-align: bottom;
  }
}

.photo-gallery-item {
  position: relative;

  a {
    cursor: zoom-in;
  }

  &:hover {
    .photo-gallery-item-info, .photo-gallery-item-info-wrapper {
      opacity: 1;
    }
  }
}

.photo-gallery-item-info {
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 50px;
  max-height: 50px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.45) 100%
  );
  opacity: 0;
  transition: opacity 200ms ease-in;
  pointer-events: none;

  &-wrapper {
    position: absolute;
    bottom: 0;
    opacity: 0;
  }

  &-title {
    padding: 3px;
    margin: 8px;
    display: block;
    color: white;
    font-size: 15px;
    text-shadow: 0px 1px 1px black;
    text-decoration: none;
    pointer-events: auto;
    cursor: default;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 3px;
    }
  }
}

.photo-manage {
  position: absolute;
  height: calc(100% - 50px);
  width: 100%;
  display: flex;
  justify-content: space-around;

  &-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    max-width: 250px;
    background-color: white;
    border-right: 1px solid $gray-border;

    &-upload {
      padding: 2px 20px;
      width: 100%;
      height: 65px;
      border-bottom: 1px solid $gray-border;

      button {
        @include colored-button($blue-green);
        padding: 12px 10px;
        width: 100%;
        font-size: 14px;
        font-weight: 700;
      }
    }

    &-photos {
      align-self: flex-start;

      &-heading {
        margin: 20px;
        margin-bottom: 15px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        color: $blue;
      }

      &-list {
        margin: 10px;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        width: 230px;
        font-size: 14px;
        color: white;
        background-color: $blue-green;
        cursor: pointer;
        transition: 150ms ease-in;

        &:hover {
          background-color: lighten($blue-green, 8%);
        }

        section {
          padding: 0 5px;
        }
      }
    }
  }

  &-mid {
    flex-grow: 1;
    cursor: crosshair;

    &-heading {
      padding: 20px;
      height: 65px;
      font-size: 14.5px;
      line-height: 28px;
      background-color: white;
      color: $blue;
      border-bottom: 1px solid $gray-border;
      cursor: default;
    }

    span {
      color: #bbb;
    }

    &-photos {
      padding: 30px;
      display: flex;
      flex-flow: row wrap;
      align-content: flex-start;
      height: calc(100% - 115px);
      overflow-y: auto;
    }

    &-photo {
      margin: 20px;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      width: 160px;
      height: 160px;
      cursor: pointer;

      .photo-manage-mid-photo-wrapper {
        position: relative;
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;

        img {
          max-width: 150px;
          max-height: 150px;
          border: 3px solid transparent;
          transition: border-color 60ms ease-in;
        }

        svg {
          display: none;
          animation: zoomIn;
          animation-duration: 0.125s;
          animation-fill-mode: both;
        }
      }

      &-active .photo-manage-mid-photo-wrapper {
        img {
          border-color: $blue;
          border-radius: 3px;
        }

        svg {
          display: block;
          position: absolute;
          bottom: 0;
          right: -5px;
          z-index: 0;
        }
      }
    }
  }

  &-right, &-right-pre {
    min-width: 350px;
    max-width: 350px;
    background-color: white;
    border-left: 1px solid $gray-border;

    h1 {
      margin: 20px;
      color: $gray-medium-2;
      font-size: 20px;
    }
  }

  &-right-pre {
    opacity: 0.5;
    pointer-events: none;
  }

  &-form {
    margin-top: -20px;
    padding: 20px;

    label {
      margin: 11px 0;
      display: block;
      color: adjust-hue($blue, -5deg);
      font-size: 13.5px;
    }

    input, textarea {
      padding: 6px 8px;
      margin-bottom: 20px;
      width: 100%;
      border: 1px solid rgba(183, 199, 207, 0.73);
      border-radius: 3px;
      font-family: inherit;
      font-size: 14px;
      transition: 100ms ease-in;

      &::placeholder {
        color: #cccccc;
        font-weight: lighter;
      }

      &:focus {
        outline: none;
        border-color: darken($blue, 10%);
      }
    }

    textarea {
      height: 100px;
      resize: none;
    }

    &-buttons {
      cursor: pointer;

      &-delete {
        @include colored-button($gray-medium);
        padding: 6px 0;
        margin-bottom: 20px;
        font-size: 13px;
        width: 310px;
      }

      &-cancel {
        margin: 0 20px;
        font-size: 14px;

        &:hover {
          color: $red;
        }
      }

      &-save {
        @include colored-button($green);
        width: 220px;
        font-size: 14px;
      }
    }
  }
}

.ReactVirtualized__List,
.ReactVirtualized__Grid,
.ReactVirtualized__Grid__innerScrollContainer {
  cursor: inherit;

  &:focus {
    outline: none;
  }
}
