.user-profile-top {
  background-color: white;
}

.user-profile-cover-photo {
  min-width: 100%;
  height: 360px;
  vertical-align: middle;
  border-bottom: 1px solid $gray-border;

  img {
    min-width: 100%;
    max-height: 360px;
    object-fit: cover;
    object-position: 45% 45%;
    overflow: hidden;
  }
}

.user-profile-buttons {
  display: flex;
  justify-content: flex-end;
  background-color: white;

  button {
    margin: 10px;
  }

  .user-profile-edit-button {
    @include colored_button($blue);
    margin: 10px;
    padding: 8px 10px;
    font-size: 15px;
    font-weight: 600;
    width: 110px;
  }

  .user-profile-manage-button {
    @include colored_button($green);
    padding: 8px 10px;
    font-size: 15px;
    font-weight: 600;
    width: 140px;
  }

  .follow-button:after,
  .unfollow-button:after,
  .unfollow-button:hover:after {
    box-shadow: inset 1px 1px 1px rgba(white, 0.2);
    padding: 6px 20px;
    font-size: 15px;
  }
}

.user-profile-photo {
  position: relative;
  right: 50px;
  text-align: center;

  img {
    position: absolute;
    bottom: 0px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
  }
}

.user-profile-header {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid $gray-border;

  h1 {
    margin: 15px;
    font-size: 30px;
    color: $gray-medium-2;
  }

  p {
    margin-bottom: 15px;
    font-size: 15px;
    word-wrap: break-word;
    color: lighten($gray-medium-2, 15%);
  }
}

.user-profile-stats {
  padding-bottom: 20px;
  font-size: 14px;
  color: lighten($gray-medium, 15%);

  &-follows {
    margin: 0 16px;
    display: inline;
    cursor: pointer;

    &:hover {
      color: lighten($gray-medium, 30%);
    }

    strong {
      font-weight: 600;
    }
  }

  &-location {
    margin: 0 16px;
    display: inline;

    svg {
      margin-bottom: -1px;
    }
  }
}

.user-profile-gallery {
  margin: 0 auto;
  padding: 15px 0;
  width: 95%;
}

.user-profile-edit-modal {
  margin-left: -300px;
  position: relative;
  left: 50%;
  top: 20%;
  display: flex;
  flex-direction: column;
  width: 600px;
  background-color: $gray-light;
  border-radius: 3px;
  border: none;
  &:focus { outline: none; }
}

.user-profile-edit-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(black, 0.6);
  overflow-y: scroll;
  padding-bottom: 200px;
}

.user-profile-edit-top {
  position: relative;

  &-cover-photo {
    min-height: 140px;
    max-height: 140px;
    transition: 150ms ease-in;
    background-color: #161616;
    overflow: hidden;
    cursor: pointer;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    img {
      min-width: 100%;
      max-height: 140px;
      object-fit: cover;
      object-position: 50% 50%;
      background-color: white;
      opacity: 0.3;
      transition: 200ms ease-in;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  &-profile-photo {
    display: inline-block;
    position: relative;
    bottom: 50px;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    background-color: #161616;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50%;

    img {
      position: relative;
      bottom: 0px;
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      opacity: 0.3;
      transition: 200ms ease-in;

      &:hover {
        opacity: 0.6;
      }
    }

    &-upload {
      display: none;
      left: 250px;
      position: relative;
      width: 100px;
    }
  }
}

.user-profile-edit-form {
  font-size: 14px;

  &-info {
    padding: 20px;
  }

  label {
    margin: 10px 0;
    display: block;
    color: $blue;

    &:first-of-type {
      margin-top: -45px;
    }
  }

  input, textarea {
    padding: 8px 10px;
    width: 100%;
    border: 1px solid rgba(183, 199, 207, 0.73);
    border-radius: 3px;
    font-family: inherit;
    font-size: 14px;
    color: $gray-medium-2;
    background-color: white;
    resize: none;
    transition: 100ms ease-in;

    &::placeholder {
      color: $gray-light-2;
      font-weight: lighter;
    }

    &:focus {
      outline: none;
      border-color: darken($blue, 10%);
    }
  }

  textarea {
    height: 150px;
  }
}

.user-profile-edit-cover-camera,
.user-profile-edit-profile-camera {
  margin-left: 10px;
  position: absolute;
  bottom: 170px;
  left: 33.33%;
  font-size: 13px;
  letter-spacing: 0.02em;
  color: white;
  pointer-events: none;
  z-index: 999;

  svg {
    margin-bottom: -2px;
  }
}

.user-profile-edit-profile-camera {
  margin-left: 0;
  bottom: 42px;
  left: 42%;
}

.user-profile-edit-form-buttons {
  margin: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  .user-profile-edit-cancel {
    margin: 0 10px;
    font-size: 14px;
    color: lighten($gray-medium-2, 10%);
    cursor: pointer;

    &:hover {
      color: lighten($gray-medium-2, 35%);
    }
  }

  .user-profile-edit-submit {
    @include colored-button($green);
    margin-left: 20px;
    font-size: 14px;
    width: 80px;
  }
}

.user-profile-edit-cover-photo-select {
  margin: 20px 0;
  padding: 20px;
  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
  animation: slideInDown;
  animation-duration: 0.1s;
  animation-fill-mode: both;

  &::-webkit-scrollbar {
    height: 10px;
  	background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.35);
  	background-color: #ebecee;
  }

  &::-webkit-scrollbar-thumb {
  	background-color: #838383;
    border-radius: 50px;
    border: 1px solid #6f6f6f;
  }

  label {
    position: relative;
    display: inline;
    overflow: hidden;
  }

  label > input, label > svg {
    visibility: hidden;
    position: absolute;
  }

  label > svg {
    bottom: 0;
    right: 0;
    animation: zoomIn;
    animation-duration: 0.125s;
    animation-fill-mode: both;
  }

  label > input + img {
    margin: 0 4px;
    cursor: pointer;
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: 3px solid transparent;
    border-radius: 5px;
    transition: 60ms ease-in;
  }

  label > input:checked ~ svg {
    visibility: visible;
  }

  label > input:checked + img {
    border: 3px solid $blue;
  }
}

.user-profile-edit-spinner {
  margin: 23px;
  margin-left: 22px;
}
