.session-form {
  position: absolute;
  top: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $gray-light;

  form {
    padding: 36px;
    position: relative;
    bottom: 5%;
    max-width: 400px;
    min-height: 300px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid $gray-border;

    label {
      font-size: 13.5px;
      color: $gray-medium;
    }
  }

  h1 {
    margin-bottom: 1em;
    font-size: 1.5em;
    letter-spacing: 0.01em;
    text-align: center;
    color: $gray-header;
  }
}

.session-form-redirect {
  margin-top: 60px;
  font-size: 14px;
  text-align: center;
  color: $gray-header;

  a {
    text-decoration: none;
    color: $blue;
  }
}

.session-error {
  padding: 8px;
  position: absolute;
  top: -50px;
  width: 400px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  white-space: pre-wrap;
  letter-spacing: 0.01em;
  background-color: $red;
  color: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  animation-name: slideInDown;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  z-index: 10;

  svg {
    margin: 2px 12px 0px 4px;
  }
}
