@mixin colored-button($color) {
  padding: 9px 10px;
  margin: 10px 0;
  width: 320px;
  text-shadow: 0px 1px 0px darken($color, 8%);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.01em;
  background-color: $color;
  color: white;
  box-shadow: inset 1px 1px 1px opacify(lighten($color, 5%), 0.5);
  border-radius: 3px;
  border: 1px solid darken($color, 5%);
  outline: none;
  transition: 150ms ease-in;

  &:hover {
    background-color: lighten($color, 3%);
  }

  &:active {
    background-color: darken($color, 3%);
  }
}

.green-button { @include colored-button($green); }
.blue-button { @include colored-button($blue-medium); }

.session-button {
  font-size: 1.1em;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}
