.slider {
  min-height: 220px !important;
  max-height: 220px !important;

  &-decorator-0 {
    & > button {
      visibility: hidden;

      &::after {
        position: absolute;
        left: -100%;
        margin: 0 10px;
        visibility: visible !important;
        width: 5rem;
        height: 5rem;
        color: #202020;
        font-size: 40px;
        content: '\2329';
      }
    }
  }

  &-decorator-1 {
    & > button {
      visibility: hidden;

      &::after {
        position: absolute;
        right: -100%;
        margin: 0 10px;
        visibility: visible !important;
        width: 5rem;
        height: 5rem;
        color: #202020;
        font-size: 40px;
        content: '\232A';
      }
    }
  }

  .slider-slide {
    text-align: center;
  }

  .slider-frame {
    height: 220px !important;
  }
}
