.nav-dropdown-menu {
  margin: 0 50px;
  padding: 7px 0 5px 0;
  position: relative;
  height: 50px;
  cursor: pointer;

  &-profile-icon  {
    margin-bottom: 1px;
    padding: 1px;
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    background-color: $gray-light;
    border: 1px solid $gray-light-2;
  }

  &:hover .nav-dropdown-submenu {
    display: block;
  }
}

.nav-dropdown-submenu {
  position: absolute;
  top: 49px;
  left: -10px;
  display: none;
  width: 94px;
  background-color: white;
  border: 1px solid $gray-border;
  border-top-color: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 1px 1px rgba(150, 160, 170, 0.1);

  li {
    padding: 12px;
    display: block;
    font-size: 13px;

    &:not(:last-child) {
      border-bottom: 1px solid $gray-border;
    }
  }

  li a &-username {
    font-size: 11.5px;
    font-weight: 700;
    color: $blue-medium;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid $gray-border;

    &:hover {
      color: $blue-medium;
    }
  }
}
